In [148]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [149]:
impressions_path= "impressions.json"
impressions= pd.read_json(impressions_path)
impressions.head()

   app_id  advertiser_id country_code                                    id
0      32            8.0           UK  a39747e8-9c58-41db-8f9f-27963bc248b5
1      30           17.0         None  5deacf2d-833a-4549-a398-20a0abeec0bc
2       4           15.0           IT  2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521
3      22           20.0           IT  fbb52038-4db1-46d3-a4de-108fd12cbfc7
4       9           32.0               b15449b6-14c9-406b-bce9-749805dd6a3e

In [150]:
clicks_path= "clicks.json"
clicks= pd.read_json(clicks_path)
clicks.head()

                          impression_id   revenue
0  97dd2a0f-6d42-4c63-8cd6-5270c19f20d6  2.091226
1  43bd7feb-3fea-40b4-a140-d01a35ec1f73  2.479458
2  1b04c706-e3d7-4f70-aac8-25635fa24250  1.061739
3  31214d91-d950-4464-8316-ed3d302d49d3  2.074762
4  fbb52038-4db1-46d3-a4de-108fd12cbfc7  2.783758

In [151]:
clicks = clicks.rename(columns={"impression_id": "id"})
clicks.head()

                                     id   revenue
0  97dd2a0f-6d42-4c63-8cd6-5270c19f20d6  2.091226
1  43bd7feb-3fea-40b4-a140-d01a35ec1f73  2.479458
2  1b04c706-e3d7-4f70-aac8-25635fa24250  1.061739
3  31214d91-d950-4464-8316-ed3d302d49d3  2.074762
4  fbb52038-4db1-46d3-a4de-108fd12cbfc7  2.783758

In [152]:
merged = pd.merge(impressions, clicks, on="id")
merged

,app_id,advertiser_id,country_code,id,revenue
0,30,17.0,None,5deacf2d-833a-4549-a398-20a0abeec0bc,1.696280
1,30,17.0,None,5deacf2d-833a-4549-a398-20a0abeec0bc,0.426921
2,30,17.0,None,5deacf2d-833a-4549-a398-20a0abeec0bc,1.696280
3,30,17.0,None,5deacf2d-833a-4549-a398-20a0abeec0bc,0.426921
4,30,17.0,None,5deacf2d-833a-4549-a398-20a0abeec0bc,1.696280
...,...,...,...,...,...
2482,1,7.0,IT,af2c2db3-c854-423e-a940-97b0b90743f2,2.290030
2483,1,7.0,IT,af2c2db3-c854-423e-a940-97b0b90743f2,2.290030
2484,1,7.0,IT,af2c2db3-c854-423e-a940-97b0b90743f2,2.290030
2485,1,7.0,IT,af2c2db3-c854-423e-a940-97b0b90743f2,2.290030
2486,1,7.0,IT,af2c2db3-c854-423e-a940-97b0b90743f2,2.290030

In [153]:
merged.drop_duplicates(inplace=True)

In [159]:
merged

,app_id,advertiser_id,country_code,id,revenue
0,30,17.0,None,5deacf2d-833a-4549-a398-20a0abeec0bc,1.696280
1,30,17.0,None,5deacf2d-833a-4549-a398-20a0abeec0bc,0.426921
62,4,15.0,IT,2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521,2.355039
63,4,15.0,IT,2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521,2.070345
108,22,20.0,IT,fbb52038-4db1-46d3-a4de-108fd12cbfc7,2.783758
...,...,...,...,...,...
2392,21,22.0,DE,1b04c706-e3d7-4f70-aac8-25635fa24250,1.061739
2393,21,22.0,DE,1b04c706-e3d7-4f70-aac8-25635fa24250,0.110705
2420,27,12.0,None,1bf2baef-335d-4a6b-8bdd-dadab491af79,2.730851
2435,23,10.0,US,a94c843b-97de-4f59-be3c-2f71adeaf961,2.270868
2466,1,7.0,IT,af2c2db3-c854-423e-a940-97b0b90743f2,2.290030

In [160]:
nan_value = float("NaN")
merged.replace("", nan_value, inplace=True)
merged.dropna(subset = ["country_code"], inplace=True)

In [161]:
cleaned = merged[merged["country_code"].str.contains("None" or "NaN")==False]

In [164]:
cleaned.tail(50)

,app_id,advertiser_id,country_code,id,revenue
614,22,20.0,DE,31214d91-d950-4464-8316-ed3d302d49d3,2.074762
615,22,20.0,DE,31214d91-d950-4464-8316-ed3d302d49d3,2.886210
702,11,18.0,US,001a597e-221e-47b3-8928-1c339cd00ea4,1.785073
711,34,28.0,DE,39d90df9-4b89-4ef5-bb70-78713790063e,1.994921
712,34,28.0,DE,39d90df9-4b89-4ef5-bb70-78713790063e,1.703638
779,13,12.0,US,bdf8f849-1ac2-456e-9b92-a1e5355520f0,1.602064
780,13,12.0,US,bdf8f849-1ac2-456e-9b92-a1e5355520f0,1.003607
1005,25,11.0,UK,c99f4a5f-6d5b-4bfe-bc4b-26af02f74bb1,1.849348
1080,30,9.0,US,8dd16258-0ad8-4fef-8755-dfc7293f3c66,0.287059
1081,30,9.0,US,8dd16258-0ad8-4fef-8755-dfc7293f3c66,0.926322
1082,30,9.0,US,8dd16258-0ad8-4fef-8755-dfc7293f3c66,1.235094
1083,30,9.0,US,8dd16258-0ad8-4fef-8755-dfc7293f3c66,1.779625
1084,30,9.0,US,8dd16258-0ad8-4fef-8755-dfc7293f3c66,0.910492
1250,10,22.0,US,8d5e7dce-bab2-4fcf-bd94-6805f776baf1,0.819233
1251,10,22.0,US,8d5e7dce-bab2-4fcf-bd94-6805f776baf1,0.529268
1294,24,19.0,UK,43bd7feb-3fea-40b4-a140-d01a35ec1f73,2.479458
1295,24,19.0,UK,43bd7feb-3fea-40b4-a140-d01a35ec1f73,0.952998
1358,18,10.0,DE,6e25e2a5-8759-40c0-9f82-b52c0d1e27c7,0.388200
1433,40,14.0,DE,fb1af15e-fb01-43c7-bbaf-bcb575ff3832,2.805668
1434,40,14.0,DE,fb1af15e-fb01-43c7-bbaf-bcb575ff3832,2.757235
1435,40,14.0,DE,fb1af15e-fb01-43c7-bbaf-bcb575ff3832,0.128990
1574,30,28.0,US,3e3b1372-eb14-4fea-856a-c5b1e6be6137,0.773062
1601,7,20.0,DE,0c667f97-86cc-4393-bd4b-c41ce231fbb8,0.356624
1633,27,14.0,IT,be391a1d-b7d6-43af-8beb-a2b393d6b4ce,0.582097
1793,14,10.0,UK,5b6211e2-cb03-4137-933a-86b36978cb1f,2.345114
1883,40,30.0,DE,b07af059-4776-4d24-aaea-2c2628c2d613,0.187998
1910,23,17.0,US,77e8e3b3-de60-4de6-8473-00bf55c45878,1.266355
1911,23,17.0,US,77e8e3b3-de60-4de6-8473-00bf55c45878,1.013501
1999,18,16.0,IT,d73d8029-ce13-43c3-99b1-1676beeb9dd7,2.880423
2021,5,12.0,IT,ab769c09-d2e8-499b-8e8f-017c526910c8,2.510337
2022,5,12.0,IT,ab769c09-d2e8-499b-8e8f-017c526910c8,2.626197
2053,5,21.0,DE,e3e7169e-2014-4001-8b55-1eda0cbb21bc,0.788711
2074,26,16.0,DE,980e11e7-92b5-4c64-b00e-1981bafb4e7a,1.588118
2102,39,5.0,US,01e1d53d-a882-4281-86c3-e2ab1a666f18,1.319781
2115,7,6.0,IT,a36d3dfa-ed73-4977-8109-8fcf322d5495,0.934817
2125,13,10.0,DE,1bf00ce9-e999-4029-813e-66d1ddc6b209,0.463224
2174,38,10.0,IT,ee7269ad-b6e8-4e56-87f9-f57cc6a0dd9c,1.653281
2175,38,10.0,IT,ee7269ad-b6e8-4e56-87f9-f57cc6a0dd9c,0.943228
2236,16,17.0,UK,687f3be2-2313-4285-8f5e-0ecfad54ffba,1.092672
2237,16,17.0,UK,687f3be2-2313-4285-8f5e-0ecfad54ffba,2.311147
2238,16,17.0,UK,687f3be2-2313-4285-8f5e-0ecfad54ffba,2.536704
2239,16,17.0,UK,687f3be2-2313-4285-8f5e-0ecfad54ffba,1.076080
2308,16,7.0,US,97dd2a0f-6d42-4c63-8cd6-5270c19f20d6,2.091226
2309,16,7.0,US,97dd2a0f-6d42-4c63-8cd6-5270c19f20d6,0.574306
2310,16,7.0,US,97dd2a0f-6d42-4c63-8cd6-5270c19f20d6,2.317783
2380,33,11.0,US,fdc0a639-4b2d-4332-8f4e-7e08086a78c3,1.853479
2392,21,22.0,DE,1b04c706-e3d7-4f70-aac8-25635fa24250,1.061739
2393,21,22.0,DE,1b04c706-e3d7-4f70-aac8-25635fa24250,0.110705
2435,23,10.0,US,a94c843b-97de-4f59-be3c-2f71adeaf961,2.270868
2466,1,7.0,IT,af2c2db3-c854-423e-a940-97b0b90743f2,2.290030