In [117]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [118]:
impressions_path= "impressions.json"
impressions= pd.read_json(impressions_path)

impressions.drop_duplicates(inplace=True)
nan_value = float("NaN")
impressions.replace("", nan_value, inplace=True)
impressions.dropna(subset = ["country_code"], inplace=True)
impressions = impressions[impressions["country_code" and "id"].str.contains("None" or "NaN")==False]
impressions = impressions.astype({"app_id": int, "advertiser_id": int, "country_code": str, "id": str})
impressions

     app_id  advertiser_id country_code                                    id
0        32              8           UK  a39747e8-9c58-41db-8f9f-27963bc248b5
2         4             15           IT  2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521
3        22             20           IT  fbb52038-4db1-46d3-a4de-108fd12cbfc7
7        30             27           DE  8a391b7a-219e-4dc4-af11-8cd98e8165aa
8         9              8           US  f9fe7a5d-5e14-45fa-88e6-438313712694
..      ...            ...          ...                                   ...
412      22             24           DE  917f8813-1ee4-48c0-b3e1-55f1dc108661
423       8             11           DE  5c569d67-59a2-42fa-8a2d-4e0d7fcb6cab
589       1              7           IT  af2c2db3-c854-423e-a940-97b0b90743f2
617      20             30           IT  afc054e3-f1b9-4aea-8f9a-2d084453c4a4
807      29              7           DE  3869394c-ddf6-4286-98a2-85f613754d04

[66 rows x 4 columns]

In [119]:
clicks_path= "clicks.json"
clicks= pd.read_json(clicks_path)

clicks = clicks.rename(columns={"impression_id": "id"})
clicks.drop_duplicates(inplace=True)
clicks = clicks.astype({"id": str, "revenue": float})
clicks

                                      id   revenue
0   97dd2a0f-6d42-4c63-8cd6-5270c19f20d6  2.091226
1   43bd7feb-3fea-40b4-a140-d01a35ec1f73  2.479458
2   1b04c706-e3d7-4f70-aac8-25635fa24250  1.061739
3   31214d91-d950-4464-8316-ed3d302d49d3  2.074762
4   fbb52038-4db1-46d3-a4de-108fd12cbfc7  2.783758
..                                   ...       ...
90  2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521  2.070345
91  fbb52038-4db1-46d3-a4de-108fd12cbfc7  2.287619
92  a94c843b-97de-4f59-be3c-2f71adeaf961  2.270868
93  11454767-ba1e-4e86-ba00-242dc85e73a4  0.954548
94  b2a60f0d-1d08-4738-9dc5-0eed9cddee82  0.804509

[95 rows x 2 columns]

In [120]:
merged = pd.merge(impressions, clicks, on="id")
merged

,app_id,advertiser_id,country_code,id,revenue
0,4,15,IT,2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521,2.355039
1,4,15,IT,2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521,2.070345
2,22,20,IT,fbb52038-4db1-46d3-a4de-108fd12cbfc7,2.783758
3,22,20,IT,fbb52038-4db1-46d3-a4de-108fd12cbfc7,2.898978
4,22,20,IT,fbb52038-4db1-46d3-a4de-108fd12cbfc7,2.287619
...,...,...,...,...,...
60,33,11,US,fdc0a639-4b2d-4332-8f4e-7e08086a78c3,1.853479
61,21,22,DE,1b04c706-e3d7-4f70-aac8-25635fa24250,1.061739
62,21,22,DE,1b04c706-e3d7-4f70-aac8-25635fa24250,0.110705
63,23,10,US,a94c843b-97de-4f59-be3c-2f71adeaf961,2.270868
64,1,7,IT,af2c2db3-c854-423e-a940-97b0b90743f2,2.290030

In [121]:
impression_count = impressions.groupby(['country_code','app_id','advertiser_id'])['advertiser_id'].size().reset_index(name='impression_count')
impression_count = impression_count.astype({'impression_count': float})
impression_count

   country_code  app_id  advertiser_id  impression_count
0            DE       5             21               1.0
1            DE       6             15               1.0
2            DE       7             20               1.0
3            DE       8             11               1.0
4            DE      10             14               1.0
..          ...     ...            ...               ...
60           US      33             11               1.0
61           US      35             33               1.0
62           US      39              5               1.0
63           US      40             26               1.0
64           US      40             31               1.0

[65 rows x 4 columns]

In [122]:
click_count = clicks.groupby(['id']).size().reset_index(name='click_count')
click_count

                                      id  click_count
0   001a597e-221e-47b3-8928-1c339cd00ea4            1
1   01e1d53d-a882-4281-86c3-e2ab1a666f18            1
2   08ccf808-394a-46d2-b1e7-e941e252d729            2
3   0c667f97-86cc-4393-bd4b-c41ce231fbb8            1
4   11454767-ba1e-4e86-ba00-242dc85e73a4            1
5   1b04c706-e3d7-4f70-aac8-25635fa24250            2
6   1bf00ce9-e999-4029-813e-66d1ddc6b209            1
7   1bf2baef-335d-4a6b-8bdd-dadab491af79            1
8   2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521            2
9   31214d91-d950-4464-8316-ed3d302d49d3            2
10  39d90df9-4b89-4ef5-bb70-78713790063e            2
11  3cd54dd2-6858-4726-8629-e9d672a75591            4
12  3e3b1372-eb14-4fea-856a-c5b1e6be6137            1
13  43bd7feb-3fea-40b4-a140-d01a35ec1f73            2
14  44f6748d-d504-4032-8b52-8668c19a7ac6            2
15  4f82500a-872d-46c6-bc2f-0005bda6a7a5            2
16  50fa7c0e-2a0a-4b1a-931d-75c92bd506b6            1
17  5b6211e2-cb03-4137-933a-86b36978cb1f            1
18  5deacf2d-833a-4549-a398-20a0abeec0bc            2
19  687f3be2-2313-4285-8f5e-0ecfad54ffba            4
20  6e25e2a5-8759-40c0-9f82-b52c0d1e27c7            1
21  72a5a121-ca88-421e-b2b5-b14d105aeda8            1
22  77e8e3b3-de60-4de6-8473-00bf55c45878            2
23  81cf2616-4fb5-4c47-8517-00dbea47984d            1
24  8a391b7a-219e-4dc4-af11-8cd98e8165aa            2
25  8d5e7dce-bab2-4fcf-bd94-6805f776baf1            2
26  8dd16258-0ad8-4fef-8755-dfc7293f3c66            5
27  97dd2a0f-6d42-4c63-8cd6-5270c19f20d6            3
28  980e11e7-92b5-4c64-b00e-1981bafb4e7a            1
29  9d683266-bd60-42dd-9754-e68c100f62ff            1
30  a36d3dfa-ed73-4977-8109-8fcf322d5495            1
31  a94c843b-97de-4f59-be3c-2f71adeaf961            1
32  ab769c09-d2e8-499b-8e8f-017c526910c8            2
33  af2c2db3-c854-423e-a940-97b0b90743f2            1
34  b07af059-4776-4d24-aaea-2c2628c2d613            1
35  b15449b6-14c9-406b-bce9-749805dd6a3e            1
36  b2a60f0d-1d08-4738-9dc5-0eed9cddee82            3
37  b78e16d0-1c4d-4311-838b-363fc7fe28c0            5
38  bdf8f849-1ac2-456e-9b92-a1e5355520f0            2
39  be2a64b4-7938-4a02-8543-8bdc51b8bf56            1
40  be391a1d-b7d6-43af-8beb-a2b393d6b4ce            1
41  bf0d23a1-d49c-405d-8288-3246ac184e87            1
42  c4587dd9-6eef-4fc5-a701-2e472458b821            1
43  c99f4a5f-6d5b-4bfe-bc4b-26af02f74bb1            1
44  cbbbb827-f702-42fd-9123-bbbb528a9738            1
45  d73d8029-ce13-43c3-99b1-1676beeb9dd7            1
46  daf69ff1-2057-4ac8-9de0-d2a080cd48a5            2
47  e3e7169e-2014-4001-8b55-1eda0cbb21bc            1
48  e96e4da4-9b15-421b-a2d0-437235945675            1
49  ee7269ad-b6e8-4e56-87f9-f57cc6a0dd9c            2
50  f30413d6-e526-4adb-a716-721a946bc8d3            1
51  f9fe7a5d-5e14-45fa-88e6-438313712694            2
52  fa30432d-07fd-47e8-92e2-ff2f4ea095d4            1
53  fb1af15e-fb01-43c7-bbaf-bcb575ff3832            3
54  fbb52038-4db1-46d3-a4de-108fd12cbfc7            3
55  fdc0a639-4b2d-4332-8f4e-7e08086a78c3            1

In [123]:
revenue = merged.groupby(['country_code','app_id','advertiser_id'])['revenue'].sum().reset_index()
revenue

   country_code  app_id  advertiser_id   revenue
0            DE       5             21  0.788711
1            DE       7             20  0.356624
2            DE      13             10  0.463224
3            DE      18             10  0.388200
4            DE      21             22  1.172445
5            DE      22             20  4.960972
6            DE      26             16  1.588118
7            DE      30             27  4.589644
8            DE      34             28  3.698559
9            DE      40             14  5.691894
10           DE      40             30  0.187998
11           IT       1              7  2.290030
12           IT       4             15  4.425384
13           IT       5             12  5.136534
14           IT       7              6  0.934817
15           IT      18             16  2.880423
16           IT      22             20  7.970356
17           IT      27             14  0.582097
18           IT      35             33  0.242942
19           IT      38             10  2.596509
20           UK      14             10  2.345114
21           UK      16             17  7.016603
22           UK      24             19  3.432455
23           UK      25             11  1.849348
24           US       9              8  2.789852
25           US      10             22  1.348501
26           US      11             18  1.785073
27           US      13             12  2.605671
28           US      15             34  2.135244
29           US      16              7  4.983315
30           US      23             10  2.270868
31           US      23             17  2.279857
32           US      28             29  8.327080
33           US      30              9  5.138592
34           US      30             28  0.773062
35           US      33             11  1.853479
36           US      39              5  1.319781