In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
impressions_path= "impressions.json"
impressions= pd.read_json(impressions_path)

impressions.drop_duplicates(inplace=True)
nan_value = float("NaN")
impressions.replace("", nan_value, inplace=True)
impressions.dropna(subset = ["country_code"], inplace=True)
impressions = impressions[impressions["country_code" and "id"].str.contains("None" or "NaN")==False]
impressions = impressions.astype({"app_id": int, "advertiser_id": int, "country_code": str, "id": str})
impressions

     app_id  advertiser_id country_code                                    id
0        32              8           UK  a39747e8-9c58-41db-8f9f-27963bc248b5
2         4             15           IT  2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521
3        22             20           IT  fbb52038-4db1-46d3-a4de-108fd12cbfc7
7        30             27           DE  8a391b7a-219e-4dc4-af11-8cd98e8165aa
8         9              8           US  f9fe7a5d-5e14-45fa-88e6-438313712694
..      ...            ...          ...                                   ...
412      22             24           DE  917f8813-1ee4-48c0-b3e1-55f1dc108661
423       8             11           DE  5c569d67-59a2-42fa-8a2d-4e0d7fcb6cab
589       1              7           IT  af2c2db3-c854-423e-a940-97b0b90743f2
617      20             30           IT  afc054e3-f1b9-4aea-8f9a-2d084453c4a4
807      29              7           DE  3869394c-ddf6-4286-98a2-85f613754d04

[66 rows x 4 columns]

In [3]:
clicks_path= "clicks.json"
clicks= pd.read_json(clicks_path)

clicks = clicks.rename(columns={"impression_id": "id"})
clicks = clicks.astype({"id": str, "revenue": float})
clicks

                                      id   revenue
0   97dd2a0f-6d42-4c63-8cd6-5270c19f20d6  2.091226
1   43bd7feb-3fea-40b4-a140-d01a35ec1f73  2.479458
2   1b04c706-e3d7-4f70-aac8-25635fa24250  1.061739
3   31214d91-d950-4464-8316-ed3d302d49d3  2.074762
4   fbb52038-4db1-46d3-a4de-108fd12cbfc7  2.783758
..                                   ...       ...
90  2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521  2.070345
91  fbb52038-4db1-46d3-a4de-108fd12cbfc7  2.287619
92  a94c843b-97de-4f59-be3c-2f71adeaf961  2.270868
93  11454767-ba1e-4e86-ba00-242dc85e73a4  0.954548
94  b2a60f0d-1d08-4738-9dc5-0eed9cddee82  0.804509

[95 rows x 2 columns]

In [4]:
merged = pd.merge(impressions, clicks, on="id")
merged

,app_id,advertiser_id,country_code,id,revenue
0,4,15,IT,2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521,2.355039
1,4,15,IT,2ae9fd3f-4c70-4d9f-9fe0-98cb2f0b7521,2.070345
2,22,20,IT,fbb52038-4db1-46d3-a4de-108fd12cbfc7,2.783758
3,22,20,IT,fbb52038-4db1-46d3-a4de-108fd12cbfc7,2.898978
4,22,20,IT,fbb52038-4db1-46d3-a4de-108fd12cbfc7,2.287619
...,...,...,...,...,...
60,33,11,US,fdc0a639-4b2d-4332-8f4e-7e08086a78c3,1.853479
61,21,22,DE,1b04c706-e3d7-4f70-aac8-25635fa24250,1.061739
62,21,22,DE,1b04c706-e3d7-4f70-aac8-25635fa24250,0.110705
63,23,10,US,a94c843b-97de-4f59-be3c-2f71adeaf961,2.270868
64,1,7,IT,af2c2db3-c854-423e-a940-97b0b90743f2,2.290030

In [5]:
impression_count = impressions.groupby(['app_id','country_code'])['id'].size().reset_index(name='impression_count')
impression_count = impression_count.astype({'impression_count': int})
impression_count

    app_id country_code  impression_count
0        0           IT                 1
1        1           IT                 1
2        4           IT                 1
3        4           UK                 1
4        5           DE                 1
5        5           IT                 1
6        5           US                 2
7        6           DE                 1
8        6           US                 2
9        7           DE                 1
10       7           IT                 2
11       8           DE                 1
12       9           IT                 1
13       9           US                 1
14      10           DE                 2
15      10           US                 1
16      11           US                 1
17      12           IT                 1
18      13           DE                 1
19      13           US                 1
20      14           UK                 1
21      14           US                 1
22      15           US                 1
23      16           UK                 1
24      16           US                 1
25      18           DE                 1
26      18           IT                 1
27      19           DE                 1
28      19           UK                 1
29      19           US                 1
30      20           IT                 1
31      21           DE                 1
32      21           IT                 1
33      22           DE                 2
34      22           IT                 1
35      23           US                 2
36      24           UK                 1
37      25           UK                 1
38      26           DE                 1
39      26           US                 1
40      27           IT                 1
41      28           US                 1
42      29           DE                 1
43      30           DE                 1
44      30           US                 2
45      32           DE                 1
46      32           UK                 1
47      33           US                 1
48      34           DE                 1
49      34           IT                 1
50      35           IT                 1
51      35           US                 1
52      38           IT                 2
53      39           US                 1
54      40           DE                 2
55      40           US                 2

In [6]:
click_count = merged.groupby(['app_id','country_code'])['revenue'].size().reset_index(name='click_count')
click_count

    app_id country_code  click_count
0        1           IT            1
1        4           IT            2
2        5           DE            1
3        5           IT            2
4        7           DE            1
5        7           IT            1
6        9           US            2
7       10           US            2
8       11           US            1
9       13           DE            1
10      13           US            2
11      14           UK            1
12      15           US            1
13      16           UK            4
14      16           US            3
15      18           DE            1
16      18           IT            1
17      21           DE            2
18      22           DE            2
19      22           IT            3
20      23           US            3
21      24           UK            2
22      25           UK            1
23      26           DE            1
24      27           IT            1
25      28           US            4
26      30           DE            2
27      30           US            6
28      33           US            1
29      34           DE            2
30      35           IT            1
31      38           IT            2
32      39           US            1
33      40           DE            4

In [7]:
revenue = merged.groupby(['app_id','country_code'])['revenue'].sum().reset_index()
revenue

    app_id country_code   revenue
0        1           IT  2.290030
1        4           IT  4.425384
2        5           DE  0.788711
3        5           IT  5.136534
4        7           DE  0.356624
5        7           IT  0.934817
6        9           US  2.789852
7       10           US  1.348501
8       11           US  1.785073
9       13           DE  0.463224
10      13           US  2.605671
11      14           UK  2.345114
12      15           US  2.135244
13      16           UK  7.016603
14      16           US  4.983315
15      18           DE  0.388200
16      18           IT  2.880423
17      21           DE  1.172445
18      22           DE  4.960972
19      22           IT  7.970356
20      23           US  4.550725
21      24           UK  3.432455
22      25           UK  1.849348
23      26           DE  1.588118
24      27           IT  0.582097
25      28           US  8.327080
26      30           DE  4.589644
27      30           US  5.911654
28      33           US  1.853479
29      34           DE  3.698559
30      35           IT  0.242942
31      38           IT  2.596509
32      39           US  1.319781
33      40           DE  5.879892

In [8]:
advertiser_impressions=merged.groupby(['app_id','country_code','advertiser_id'])['advertiser_id'].count().reset_index(name='advertiser_impressions')
advertiser_impressions

    app_id country_code  advertiser_id  advertiser_impressions
0        1           IT              7                       1
1        4           IT             15                       2
2        5           DE             21                       1
3        5           IT             12                       2
4        7           DE             20                       1
5        7           IT              6                       1
6        9           US              8                       2
7       10           US             22                       2
8       11           US             18                       1
9       13           DE             10                       1
10      13           US             12                       2
11      14           UK             10                       1
12      15           US             34                       1
13      16           UK             17                       4
14      16           US              7                       3
15      18           DE             10                       1
16      18           IT             16                       1
17      21           DE             22                       2
18      22           DE             20                       2
19      22           IT             20                       3
20      23           US             10                       1
21      23           US             17                       2
22      24           UK             19                       2
23      25           UK             11                       1
24      26           DE             16                       1
25      27           IT             14                       1
26      28           US             29                       4
27      30           DE             27                       2
28      30           US              9                       5
29      30           US             28                       1
30      33           US             11                       1
31      34           DE             28                       2
32      35           IT             33                       1
33      38           IT             10                       2
34      39           US              5                       1
35      40           DE             14                       3
36      40           DE             30                       1

In [9]:
advertiser_revenue = merged.groupby(['app_id','country_code','advertiser_id'])['revenue'].sum().reset_index(name='advertiser_revenue')
advertiser_revenue

    app_id country_code  advertiser_id  advertiser_revenue
0        1           IT              7            2.290030
1        4           IT             15            4.425384
2        5           DE             21            0.788711
3        5           IT             12            5.136534
4        7           DE             20            0.356624
5        7           IT              6            0.934817
6        9           US              8            2.789852
7       10           US             22            1.348501
8       11           US             18            1.785073
9       13           DE             10            0.463224
10      13           US             12            2.605671
11      14           UK             10            2.345114
12      15           US             34            2.135244
13      16           UK             17            7.016603
14      16           US              7            4.983315
15      18           DE             10            0.388200
16      18           IT             16            2.880423
17      21           DE             22            1.172445
18      22           DE             20            4.960972
19      22           IT             20            7.970356
20      23           US             10            2.270868
21      23           US             17            2.279857
22      24           UK             19            3.432455
23      25           UK             11            1.849348
24      26           DE             16            1.588118
25      27           IT             14            0.582097
26      28           US             29            8.327080
27      30           DE             27            4.589644
28      30           US              9            5.138592
29      30           US             28            0.773062
30      33           US             11            1.853479
31      34           DE             28            3.698559
32      35           IT             33            0.242942
33      38           IT             10            2.596509
34      39           US              5            1.319781
35      40           DE             14            5.691894
36      40           DE             30            0.187998

In [10]:
metric=pd.merge(click_count, revenue)
metric

    app_id country_code  click_count   revenue
0        1           IT            1  2.290030
1        4           IT            2  4.425384
2        5           DE            1  0.788711
3        5           IT            2  5.136534
4        7           DE            1  0.356624
5        7           IT            1  0.934817
6        9           US            2  2.789852
7       10           US            2  1.348501
8       11           US            1  1.785073
9       13           DE            1  0.463224
10      13           US            2  2.605671
11      14           UK            1  2.345114
12      15           US            1  2.135244
13      16           UK            4  7.016603
14      16           US            3  4.983315
15      18           DE            1  0.388200
16      18           IT            1  2.880423
17      21           DE            2  1.172445
18      22           DE            2  4.960972
19      22           IT            3  7.970356
20      23           US            3  4.550725
21      24           UK            2  3.432455
22      25           UK            1  1.849348
23      26           DE            1  1.588118
24      27           IT            1  0.582097
25      28           US            4  8.327080
26      30           DE            2  4.589644
27      30           US            6  5.911654
28      33           US            1  1.853479
29      34           DE            2  3.698559
30      35           IT            1  0.242942
31      38           IT            2  2.596509
32      39           US            1  1.319781
33      40           DE            4  5.879892

In [11]:
metrics=pd.merge(impression_count, metric, how='left').fillna(0)
metrics

    app_id country_code  impression_count  click_count   revenue
0        0           IT                 1          0.0  0.000000
1        1           IT                 1          1.0  2.290030
2        4           IT                 1          2.0  4.425384
3        4           UK                 1          0.0  0.000000
4        5           DE                 1          1.0  0.788711
5        5           IT                 1          2.0  5.136534
6        5           US                 2          0.0  0.000000
7        6           DE                 1          0.0  0.000000
8        6           US                 2          0.0  0.000000
9        7           DE                 1          1.0  0.356624
10       7           IT                 2          1.0  0.934817
11       8           DE                 1          0.0  0.000000
12       9           IT                 1          0.0  0.000000
13       9           US                 1          2.0  2.789852
14      10           DE                 2          0.0  0.000000
15      10           US                 1          2.0  1.348501
16      11           US                 1          1.0  1.785073
17      12           IT                 1          0.0  0.000000
18      13           DE                 1          1.0  0.463224
19      13           US                 1          2.0  2.605671
20      14           UK                 1          1.0  2.345114
21      14           US                 1          0.0  0.000000
22      15           US                 1          1.0  2.135244
23      16           UK                 1          4.0  7.016603
24      16           US                 1          3.0  4.983315
25      18           DE                 1          1.0  0.388200
26      18           IT                 1          1.0  2.880423
27      19           DE                 1          0.0  0.000000
28      19           UK                 1          0.0  0.000000
29      19           US                 1          0.0  0.000000
30      20           IT                 1          0.0  0.000000
31      21           DE                 1          2.0  1.172445
32      21           IT                 1          0.0  0.000000
33      22           DE                 2          2.0  4.960972
34      22           IT                 1          3.0  7.970356
35      23           US                 2          3.0  4.550725
36      24           UK                 1          2.0  3.432455
37      25           UK                 1          1.0  1.849348
38      26           DE                 1          1.0  1.588118
39      26           US                 1          0.0  0.000000
40      27           IT                 1          1.0  0.582097
41      28           US                 1          4.0  8.327080
42      29           DE                 1          0.0  0.000000
43      30           DE                 1          2.0  4.589644
44      30           US                 2          6.0  5.911654
45      32           DE                 1          0.0  0.000000
46      32           UK                 1          0.0  0.000000
47      33           US                 1          1.0  1.853479
48      34           DE                 1          2.0  3.698559
49      34           IT                 1          0.0  0.000000
50      35           IT                 1          1.0  0.242942
51      35           US                 1          0.0  0.000000
52      38           IT                 2          2.0  2.596509
53      39           US                 1          1.0  1.319781
54      40           DE                 2          4.0  5.879892
55      40           US                 2          0.0  0.000000

In [12]:
metrics= metrics.rename(columns={"impression_count": "impressions", "click_count": "clicks"})
metrics= metrics[['app_id', 'country_code', 'impressions', 'clicks', 'revenue']]

In [13]:
top5=pd.merge(advertiser_revenue, advertiser_impressions,  how='left').fillna(0)
top5["advertiser_rates"] = top5["advertiser_revenue"]/top5["advertiser_impressions"]
top5.sort_values(by=['app_id', 'country_code', 'advertiser_rates'])
top5

,app_id,country_code,advertiser_id,advertiser_revenue,advertiser_impressions,advertiser_rates
0,1,IT,7,2.290030,1,2.290030
1,4,IT,15,4.425384,2,2.212692
2,5,DE,21,0.788711,1,0.788711
3,5,IT,12,5.136534,2,2.568267
4,7,DE,20,0.356624,1,0.356624
5,7,IT,6,0.934817,1,0.934817
6,9,US,8,2.789852,2,1.394926
7,10,US,22,1.348501,2,0.674251
8,11,US,18,1.785073,1,1.785073
9,13,DE,10,0.463224,1,0.463224
10,13,US,12,2.605671,2,1.302835
11,14,UK,10,2.345114,1,2.345114
12,15,US,34,2.135244,1,2.135244
13,16,UK,17,7.016603,4,1.754151
14,16,US,7,4.983315,3,1.661105
15,18,DE,10,0.388200,1,0.388200
16,18,IT,16,2.880423,1,2.880423
17,21,DE,22,1.172445,2,0.586222
18,22,DE,20,4.960972,2,2.480486
19,22,IT,20,7.970356,3,2.656785
20,23,US,10,2.270868,1,2.270868
21,23,US,17,2.279857,2,1.139928
22,24,UK,19,3.432455,2,1.716228
23,25,UK,11,1.849348,1,1.849348
24,26,DE,16,1.588118,1,1.588118
25,27,IT,14,0.582097,1,0.582097
26,28,US,29,8.327080,4,2.081770
27,30,DE,27,4.589644,2,2.294822
28,30,US,9,5.138592,5,1.027718
29,30,US,28,0.773062,1,0.773062
30,33,US,11,1.853479,1,1.853479
31,34,DE,28,3.698559,2,1.849280
32,35,IT,33,0.242942,1,0.242942
33,38,IT,10,2.596509,2,1.298255
34,39,US,5,1.319781,1,1.319781
35,40,DE,14,5.691894,3,1.897298
36,40,DE,30,0.187998,1,0.187998

In [14]:
recommended_advertisers=top5['advertiser_id'].groupby([top5.app_id, top5.country_code]).apply(list).reset_index()
recommended_advertisers=recommended_advertisers.rename(columns={"advertiser_id": "recommended_advertiser_ids"})
recommended_advertisers

    app_id country_code recommended_advertiser_ids
0        1           IT                        [7]
1        4           IT                       [15]
2        5           DE                       [21]
3        5           IT                       [12]
4        7           DE                       [20]
5        7           IT                        [6]
6        9           US                        [8]
7       10           US                       [22]
8       11           US                       [18]
9       13           DE                       [10]
10      13           US                       [12]
11      14           UK                       [10]
12      15           US                       [34]
13      16           UK                       [17]
14      16           US                        [7]
15      18           DE                       [10]
16      18           IT                       [16]
17      21           DE                       [22]
18      22           DE                       [20]
19      22           IT                       [20]
20      23           US                   [10, 17]
21      24           UK                       [19]
22      25           UK                       [11]
23      26           DE                       [16]
24      27           IT                       [14]
25      28           US                       [29]
26      30           DE                       [27]
27      30           US                    [9, 28]
28      33           US                       [11]
29      34           DE                       [28]
30      35           IT                       [33]
31      38           IT                       [10]
32      39           US                        [5]
33      40           DE                   [14, 30]

In [15]:
recommended_advertisers.to_json('recommended_advertiser_ids.json', orient='records')

In [16]:
metrics= metrics[['app_id', 'country_code', 'impressions', 'clicks', 'revenue']]
metrics

    app_id country_code  impressions  clicks   revenue
0        0           IT            1     0.0  0.000000
1        1           IT            1     1.0  2.290030
2        4           IT            1     2.0  4.425384
3        4           UK            1     0.0  0.000000
4        5           DE            1     1.0  0.788711
5        5           IT            1     2.0  5.136534
6        5           US            2     0.0  0.000000
7        6           DE            1     0.0  0.000000
8        6           US            2     0.0  0.000000
9        7           DE            1     1.0  0.356624
10       7           IT            2     1.0  0.934817
11       8           DE            1     0.0  0.000000
12       9           IT            1     0.0  0.000000
13       9           US            1     2.0  2.789852
14      10           DE            2     0.0  0.000000
15      10           US            1     2.0  1.348501
16      11           US            1     1.0  1.785073
17      12           IT            1     0.0  0.000000
18      13           DE            1     1.0  0.463224
19      13           US            1     2.0  2.605671
20      14           UK            1     1.0  2.345114
21      14           US            1     0.0  0.000000
22      15           US            1     1.0  2.135244
23      16           UK            1     4.0  7.016603
24      16           US            1     3.0  4.983315
25      18           DE            1     1.0  0.388200
26      18           IT            1     1.0  2.880423
27      19           DE            1     0.0  0.000000
28      19           UK            1     0.0  0.000000
29      19           US            1     0.0  0.000000
30      20           IT            1     0.0  0.000000
31      21           DE            1     2.0  1.172445
32      21           IT            1     0.0  0.000000
33      22           DE            2     2.0  4.960972
34      22           IT            1     3.0  7.970356
35      23           US            2     3.0  4.550725
36      24           UK            1     2.0  3.432455
37      25           UK            1     1.0  1.849348
38      26           DE            1     1.0  1.588118
39      26           US            1     0.0  0.000000
40      27           IT            1     1.0  0.582097
41      28           US            1     4.0  8.327080
42      29           DE            1     0.0  0.000000
43      30           DE            1     2.0  4.589644
44      30           US            2     6.0  5.911654
45      32           DE            1     0.0  0.000000
46      32           UK            1     0.0  0.000000
47      33           US            1     1.0  1.853479
48      34           DE            1     2.0  3.698559
49      34           IT            1     0.0  0.000000
50      35           IT            1     1.0  0.242942
51      35           US            1     0.0  0.000000
52      38           IT            2     2.0  2.596509
53      39           US            1     1.0  1.319781
54      40           DE            2     4.0  5.879892
55      40           US            2     0.0  0.000000

In [17]:
metrics.to_json('metrics.json', orient='records')